.main {
  min-height: 100vh;
  /* width: 200%; */
  /* padding: 4rem 0; */
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.heading {
  color: #000;
  z-index: 10000;
  font-family: "Vollkorn", sans-serif;
  font-size: 48px;
  margin-bottom: 20%;
  padding: 0 20px;
}
