.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #ebe2d7;
  padding: 10px 0;
}

/* .heading {
  color: #000;
  z-index: 10000;
  font-family: "Vollkorn", sans-serif;
  font-size: 48px;
  margin-bottom: 20%;
  padding: 0 20px;
} */
